.App {
  text-align: center;
}
.flex {
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.season-img {
  background-image: url('./assets/images/seasons.png');
  background-repeat: no-repeat;
  background-position-x: center;
  height: 145px;
  background-position: -250px;
  width: 125px;
  cursor: pointer;
  margin: auto;
}

.ch-1 {
  background-color: #fff;
}

.ch-1.flex {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ch-1 .time {
  font-weight: 600;
  color: rgb(21, 139, 212);
}

.ch-1.dark {
  color: white;
  background-color: #333;
}

.ch-3 {
  background-color: #333;
}

.user-list {
  background-color: aqua;
  justify-content: space-around;
  align-items: center;
}

.user-preview {
  height: 200px;
  width: 200px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user.flex {
  flex-direction: column;
}
.user.flex h4 {
  flex-grow: 1;
}

.modal {
  color: #fff;
  background-color: #333;
  padding: 0.5rem 1rem;
}
